html
  head
    title= "Example of the Authorization Code flow with Spotify" 
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="style.css")
  
  body
    div(class="container")
      div(id="login")
        h1="This is an example of the Authorization Code flow"
        a(href="/login" class="btn btn-primary")="Log in with Spotify"
    
      div(id="loggedin")
        div(id="user-profile")
        div(id="oauth")
        
  script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js")
  script(src="http://code.jquery.com/jquery-1.10.1.min.js")
  script(src="script.js")
 
  
  <body>
