html
    head
        title= "Your site"
    body
        h1= "You logged in succesfully"
        button(onclick="getAlbums()")
        div
            each album in body
                a(href=album.url)
                    img(src=album.image)