.artist {
    float: right;
}

#login, #loggedin {
    display: none;
  }
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }

.ui {
  display: flex;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.folder-container {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.btn-create {
  height: 4em;
  width: 35%;
}